@import '../../node_modules/sass-preset/_sass-preset.scss';
@import url('//at.alicdn.com/t/font_608687_x5e61xfvlqq9qkt9.css');

$theme-color: #ffafc9;
$font-color: #333;
$shadow: 4px 4px 10px rgba(0, 0, 0, 0.08), -4px -4px 10px rgba(0, 0, 0, 0.08);

.mint-cell-wrapper{
  background-position: bottom left;
}
.mint-field .mint-cell-title{
  width: 60px;
}